<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BMS0517ConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=SBO;Integrated Security=True; User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
    <add name="DMISConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=DMIS;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
    <add name="FAMSConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=FAMS;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
	  <add name="SecurityConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=HabibMotorSecurityDB;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
	  <add name="SDBContext" connectionString="metadata=res://*/Models.SecurityDM.csdl|res://*/Models.SecurityDM.ssdl|res://*/Models.SecurityDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5E4B521;initial catalog=HabibMotorSecurityDB;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="SDDBContext" connectionString="metadata=res://*/Models.SDDM.csdl|res://*/Models.SDDM.ssdl|res://*/Models.SDDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5E4B521;initial catalog=SBO;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="SecurityAppCode" value="004" />
    <!-- <add key="BMS0517ConnectionString" value="Data Source=win11.hosterpk.com;Initial Catalog=SBO;User ID=sngonclo_USER;Password=qadir$1234;" />-->
    <!--<add key="BMS0517ConnectionString" value="Data Source=DESKTOP-N1PMLBC;Initial Catalog=SBO;User ID=sa;Password=1234;" /> -->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: {5AB4289A-F9C0-408C-8E95-3220DFA5F748}-->