<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CRM_V3-20180125113103.mdf;Initial Catalog=aspnet-CRM_V3-20180125113103;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SecurityConnectionString" connectionString="DESKTOP-N1PMLBC;Database=SecurityDB;Integrated Security=True;User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
    --><!--<add name="FAMSConnectionString" connectionString="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_FAMS;Persist Security Info=True;User ID=sngonclo_USER;Password=Qadir%ir2019;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>--><!--
    --><!--<add name="BMS0517ConnectionString" connectionString="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_BMS;Persist Security Info=True;User ID=sngonclo_USER;Password=Qadir%ir2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />--><!--
    --><!--<add name="FAMSConnectionString" connectionString="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_FAM;Persist Security Info=True;User ID=sngonclo_USER;Password=Qadir%ir2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />--><!--
  --><!--Sale/CRM Connection With DMS--><!--
	  <add name="BMS0517ConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=DMS;Integrated Security=True; User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
	  --><!--<add name="DMISConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=DMIS;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />--><!--
	  <add name="FAMSConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=FAMS;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
	  --><!--Sale/CRM Connection With DMS End--><!--
	  --><!-- Honda Sale/CRM Connection With DMS--><!--
	  <add name="BMS0517ConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=DMS;Integrated Security=false; User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
	  --><!--<add name="DMISConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=DMIS;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />--><!--
	  <add name="FAMSConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=FAMS;Integrated Security=false;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
	  --><!--Sale/CRM Connection With DMS End--><!--


  <add name="sngonclo_BMSEntities" connectionString="metadata=res://*/assets.ExpModel.csdl|res://*/assets.ExpModel.ssdl|res://*/assets.ExpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=win11.hosterpk.com;initial catalog=sngonclo_BMS;persist security info=True;user id=sngonclo_USER;password=Qadir%ir2019;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <!--Honda CONFIG-->
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CRM_V3-20180125113103.mdf;Initial Catalog=aspnet-CRM_V3-20180125113103;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="SecurityConnectionString" connectionString="DESKTOP-N1PMLBC;Database=SecurityDB;Integrated Security=True;User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FAMSConnectionString" connectionString="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_FAMS;Persist Security Info=True;User ID=sngonclo_USER;Password=Qadir%ir2019;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="BMS0517ConnectionString" connectionString="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_BMS;Persist Security Info=True;User ID=sngonclo_USER;Password=Qadir%ir2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FAMSConnectionString" connectionString="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_FAM;Persist Security Info=True;User ID=sngonclo_USER;Password=Qadir%ir2019; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
		<!--Sale/CRM Connection With DMS-->
		<!--
	  <add name="BMS0517ConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=DMS;Integrated Security=True; User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
	  -->
		<!--<add name="DMISConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=DMIS;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />-->
		<!--
	  
	  -->
		<!--Sale/CRM Connection With DMS End-->
		<!-- Honda Sale/CRM Connection With DMS-->
		<!--<add name="BMS0517ConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=HondaHk;Persist Security Info=True;User ID=sa;Password=1234;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
		<add name="BMS0517ConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=HondaHK;Integrated Security=false; User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
		<!--<add name="DMISConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=DMIS;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FAMSConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=FAMS;Integrated Security=false;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />-->
		<!--Sale/CRM Connection With DMS End-->
		<add name="FAMSConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=FAMS;Integrated Security=True;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
		<add name="SecurityConnectionString" connectionString="Data Source=DESKTOP-5E4B521;Initial Catalog=SecurityDB;Integrated Security=false;  User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />
		<add name="SDBContext" connectionString="metadata=res://*/Models.SecurityDM.csdl|res://*/Models.SecurityDM.ssdl|res://*/Models.SecurityDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5E4B521;initial catalog=SecurityDB;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SDDBContext" connectionString="metadata=res://*/Models.SDDM.csdl|res://*/Models.SDDM.ssdl|res://*/Models.SDDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5E4B521;initial catalog=HondaHK;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="sngonclo_BMSEntities" connectionString="metadata=res://*/assets.ExpModel.csdl|res://*/assets.ExpModel.ssdl|res://*/assets.ExpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5E4B521;initial catalog=HondaHK;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="HondaHKEntities" connectionString="metadata=res://*/assets.Sales.csdl|res://*/assets.Sales.ssdl|res://*/assets.Sales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5E4B521;initial catalog=HondaHK;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="SecurityAppCode" value="005" />
    <add key="BMS0517ConnectionString" value="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_BMS;User ID=sngonclo_USER;Password=qadir$1234;" />
    <!--<add key="BMS0517ConnectionString" value="Data Source=DESKTOP-TL3RFEA\SA;Initial Catalog=sngonclo_BMS;User ID=sa;Password=123;" />-->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>