@{
    ViewBag.Title = "CostCenter";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}

<h2>CostCenter</h2>

<section class="wrapper main-wrapper row">
    <form method="post">
        <div class="col-xs-12">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Bank Form</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                    </div>
                </header>
                <div class="content-body ">
                    <div class="row" style="margin-bottom:1rem; margin-left:1px">
                        <div class="form-group row">

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="form-label">Bank Code</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtSoDate">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 pull-left">
                                    <label class="form-label">Description</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                        <input type="text" class="form-control" id="FaxNoID" name="FaxNo" />
                                    </div>
                                </div>


                                <div class="container-fluid">
                                    <button type="submit" class="btn btn-warning" id="btnCancel" style="margin-top:27px; width:100px">Save</button>
                                </div>
                            </div>

                            <div class="form-group row container-fluid">
                                <div class="col-md-12">
                                    <div class="table-respon">
                                        <table id="Item" class="table success color-bordered-table info-bordered-table">
                                            <thead class="">
                                                <tr>
                                                    <th>Bank Code</th>
                                                    <th>Description</th>
                                                    <th style="text-align:center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>HBL</td>
                                                    <td>Habib Bank Limited</td>
                                                    <td style="text-align:center"><a class="selectItem"><i class="fa fa-edit" style="color:blue"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="deleteItem" style="color:blue"><i class="fa fa-trash"></i></a></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <style>
            .border-for {
                border: 1px solid blue;
            }

            .label-heading {
                margin: 0.5rem;
            }

            .divider {
                width: 5px;
                height: auto;
                display: inline-block;
            }
        </style>

    </form>
</section>



